.defaultcard{
  margin: 0 350px 0 350px;

   .title{
    color: #A52A2A;
    font-size:50px;
  }
  .description{
    font-size:20px;
  }
  .img{

  }
  .oi-caret-top{
      color: #A52A2A;
  }
  .oi-caret-bottom{
      color: #A52A2A;
  }
}
